.box-service {
  margin: 0 -15px;

  &__items {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    @media screen and (min-width: $tablet - 1) {
      float: left;
      width: 25%;
    }

    &__img {
      line-height: 0;
      margin-bottom: 20px;

      @media screen and (min-width: $tablet - 1) {
        margin-bottom: 50px;
      }
    }

    &__title {
      margin-bottom: 18px;
    }

    &__body {
      p {
        line-height: 23px;
      }
    }
  }
}
