{% if post.comment_count > 1 %}
<h3 class="comment-title">Comments:</h4>
{% elseif post.comment_count > 0 %}
<h3 class="comment-title">Comment:</h3>
{% endif %}
{% for comment in post.comments %}
    <div class="comment-{{comment.ID}} comment-order-{{loop.index}}">
        <p>{{comment.author.name}} said:</p>
        <p>{{comment.content}}</p>
    </div>
{% endfor %}