<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
      <title>{{ site_title }} - {% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include '../blocks/favicons.twig' %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css">
      <link rel="stylesheet" href="css/app.css">
      <link rel="stylesheet" href="css/font-awesome.css">
      <link rel="stylesheet" href="css/ionicons.css">
      <link rel="stylesheet" href="css/styles.css">
    {% endblock %}
  </head>
  <body>

    {% block header %}
      <div id="header" class="header-warpper">
        <div class="header-container clearfix">
          <div class="header-logo">
            <a class="logo-link" href="#">
              <img src="/images/logo1.png">
            </a>
          </div>
          {% include 'navigation.twig' %}
        </div>
        <div class="block-search-form-wrapper">
          {% include '../blocks/block-formsearch.twig' %}
        </div>
      </div>
    {% endblock %}
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}

    {% block footer %}
      <footer class="footer-wrapper clearfix">
          <div class="footer-column footer-column-1 ">
            <div class="footer-column-content">
              <div class="image-logo-footer"> <img src="/demo-images/logo-footer.png" alt="logo footer"> </div>
              <div class="content-widget">
                198 West 21th Street, Suite 721, New York NY
                5109 Pacific Coast Highway, Los Angeles CA
                Email: youremail@yourdomain.com
                Phone: +88 (0) 101 0000 000
                Fax: +88 (0) 202 0000 001
              </div>
            </div>
          </div>

          <div class="footer-column footer-column-2 col">
            <div class="footer-column-content">
              <div class="latest-posts">
                <h2 class="widget-title">Latest Posts</h2>
                {% include '../blocks/box-item-list.twig' %}
              </div>
            </div>
          </div>
          <div class="footer-column footer-column-3 col">
            <div class="footer-column-content">
              <div class="box-list-Tweets">
               <h2 class="widget-title">Latest Tweets</h2>
               <div class="content-widget">
                  <ul>
                    <li>
                      <span class="social_twitter fa fa-twitter"></span>
                      <div class="tweet_text">
                        Don't forget to check out Capri - The Hot New <a target="_blank" href="http://twitter.com/search?q=WordPress">#WordPress</a> Theme You've Been Waiting For ;) <a target="_blank" href="http://t.co/RrBK5W8VsN">http://t.co/RrBK5W8VsN</a> <a target="_blank" href="http://t.co/OGnBMeczUI">http://t.co/OGnBMeczUI</a>
                      </div>
                    </li>
                    <li>
                      <span class="social_twitter fa fa-twitter"></span>
                      <div class="tweet_text">
                        Don't forget to check out Capri - The Hot New <a target="_blank" href="http://twitter.com/search?q=WordPress">#WordPress</a> Theme You've Been Waiting For ;) <a target="_blank" href="http://t.co/RrBK5W8VsN">http://t.co/RrBK5W8VsN</a> <a target="_blank" href="http://t.co/OGnBMeczUI">http://t.co/OGnBMeczUI</a>
                      </div>
                    </li>
                    <li>
                      <span class="social_twitter fa fa-twitter "></span>
                      <div class="tweet_text">
                        Don't forget to check out Capri - The Hot New <a target="_blank" href="http://twitter.com/search?q=WordPress">#WordPress</a> Theme You've Been Waiting For ;) <a target="_blank" href="http://t.co/RrBK5W8VsN">http://t.co/RrBK5W8VsN</a> <a target="_blank" href="http://t.co/OGnBMeczUI">http://t.co/OGnBMeczUI</a>
                      </div>
                    </li>
                  </ul>
               </div>
             </div>
            </div>
          </div>

          <div class="footer-column footer-column-4">
            <div class="footer-column-content">
              <h2 class="widget-title">Latest Posts</h2>
              <div class="widget-content box-latest-posts-image">
                <ul class="box-latest-list">
                  <li class="latest-list_item"><a href="#"><img src="../../../demo-images/b-image-1a.jpg" alt=""></a></li>
                  <li class="latest-list_item"><a href="#"><img src="../../../demo-images/b-image-1a.jpg" alt=""></a></li>
                  <li class="latest-list_item"><a href="#"><img src="../../../demo-images/b-image-1a.jpg" alt=""></a></li>
                  <li class="latest-list_item"><a href="#"><img src="../../../demo-images/b-image-1a.jpg" alt=""></a></li>
                </ul>
              </div>

              <h2 class="widget-title">Newsletter</h2>
              <div class="newsletter">
                <p>hunght Newsletter are you ok</p>
                <input type="mail">
                <input class="wpcf7-form-control wpcf7-submit" type="submit">
              </div>
            </div>
          </div>
      </footer>
    {% endblock %}

    {% include "../blocks/index-links.twig" %}

    {% block footer_scripts %}
      <script src="js/lib/media.match.min.js"></script>
      <script src="js/lib/enquire.min.js"></script>
      <script src="js/lib/jquery.min.js"></script>
      <script src="js/lib/chosen.jquery.min.js"></script>
      <script src="js/jquery.matchHeight-min.js"></script>
      <script src="js/script.js"></script>
    {% endblock %}
  </body>
</html>
