{% extends 'layout.twig' %}

{% block content %}
  {% if post.title %}
    <h1 class="page-title">
      {{ post.title }}
    </h1>
  {% endif %}
  
  {% for post in posts %}
    {% if not function('is_page') %}
      <h3 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
    {% endif %}
    {{ post.content }}
  {% endfor %}
{% endblock %}