// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include helvetica;
  font-size: $base-font-size; // Don't modify static unit.
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: $base-line-height;
}

body {
  // Disable in production mode;
  @include gotham-book;
  background-color: $white;
  color: $gray;
  font-size: 14px;
  line-height: 29px;
}

/* style header */

.header-container {
  padding-left: 30px;
  padding-right: 30px;
}

.header-logo {
  padding-top: 5px;

  .logo-link {
    height: 90px;
    float: left;

    img {
      height: 100%;
    }
  }
}

/* style footer */
.footer-column-content {
  padding: 0 15px;
}

.footer-wrapper {
  padding: 65px 25px;
  background-color: #212121;
  color: #a2a2a2;
  border-top: 1px solid #fff;
  line-height: 24px;

  .footer-column  {
    padding: 30px;

    @media screen and (min-width: 769px) {
      width: 50%;
      float: left;
      border-right: 1px solid #3b3b3b;
      margin-bottom: 30px;
      padding-bottom: 0;

      &.footer-column-2 {
        border-right: none;
      }
    }

    @media screen and (min-width: 1025px) {
      width: 25%;
      padding: 30px;
      &.footer-column-2 {
        border-right: 1px solid #3b3b3b;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }

  .widget-title {
    color: #fff;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
  }

  .image-logo-footer {
    margin-bottom: 20px;
  }
}

.box-latest-posts-image {
  line-height: 0;

  li {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    float: left;

    &:last-child {
      margin-right: 0;
    }
    &:nth-child(4n){
      margin-right: 0;
    }
  }
}

.box-list-Tweets {
  ul li {
    list-style: none;
    .social_twitter {
      float: left;
      font-size: 20px;
      color: #b2dd4c;
      margin-right: 15px;
      margin-top: 5px;
    }

    .tweet_text {
      overflow: hidden;
    }
  }
}

/* style box search */
.block-search-form-wrapper {
  .toggle-search.form-submit {
    position: absolute;
    right: 20px;
    top: 38px;
    z-index: 99;
  }

  i {
    font-size: 24px;
    float: right;
  }

  form{
    background: #fff;
    border-bottom: 1px solid #333;
    display: none;
    height: 100px;
    padding: 0 45px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-out 0s;
    width: 100%;
    z-index: 9;

    &.avtive {
      // display: block;
    }

    .form-text {
      border: medium none;
      padding: 5px;
      width: 100%;
      margin-top: 38px;

      &:focus {
        outline: none;
      }
    }
  }
}
/* foooter summit */
footer input.wpcf7-form-control.wpcf7-submit {
  border-radius: 0 3px 3px 0;
  color: #fff;
  display: inline-block;
  font-family: simple-line-icons,sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 36px;
  padding: 0 8px;
  vertical-align: top;
  width: 40px;
}

footer input[type="submit"],
footer input.wpcf7-form-control.wpcf7-submit {
  background-color: #b2dd4c;
  border: 2px solid #b2dd4c;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: simple-line-icons,sans-serif;
  font-size: 13px;
  font-weight: 800;
  height: 52px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px;
  text-transform: uppercase;
  transition: color 0.15s ease-out 0s, background-color 0.15s ease-out 0s, border-color 0.15s ease-out 0s;
  width: auto;
}
