{% set content_service = [
  {
    'img_service' : '<img title="image" alt="image" src="../images/App-2-Single-image-3.png" />',
    'title_service' : 'Pixel-Perfect Design',
    'body_service' : 'Driven user story pair programming big data Steve Jobs paradigm innovate paradigm disrupt.',
  },
  {
    'img_service' : '<img title="image" alt="image" src="../images/App-2-Single-image-4.png" />',
    'title_service' : 'Free Plugins Included',
    'body_service' : 'Driven user story pair programming big data Steve Jobs paradigm innovate paradigm disrupt.',
  },
  {
    'img_service' : '<img title="image" alt="image" src="../images/App-2-Single-image-5.png" />',
    'title_service' : 'Extensive Documentation',
    'body_service' : 'Driven user story pair programming big data Steve Jobs paradigm innovate paradigm disrupt.',
  },
  {
    'img_service' : '<img title="image" alt="image" src="../images/App-2-Single-image-6.png" />',
    'title_service' : 'WooCommerce',
    'body_service' : 'Driven user story pair programming big data Steve Jobs paradigm innovate paradigm disrupt.',
  }
]
%}

{% block component_service %}
  <div class="box-service clearfix">
    {% for content in content_service %}
      <div class="box-service__items col-sm-4">
        <div class="box-service__items__img">{{ content.img_service }}</div>
        <h5 class="box-service__items__title">{{ content.title_service }}</h5>
        <div class="box-service__items__body"><p>{{ content.body_service }}</p></div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
