{% block feature_img %}
  <div class="feature-img feature-img--overlay">
    <div class="feature-img__img">
      <div class="parallax-window" data-parallax="scroll" data-image-src="../images/App2-Background-4.jpg"></div>
    </div>
    <div class="feature-img__content container">
      <div class="feature-img__views">
        <div class="feature-img__title">
          <h2>Why Wait? StartIt Right Now!</h2>
        </div>
        <div class="feature-img__body">
          <p>Make your awesome business idea a reality with StartIt, the fresh new theme from Select - custom made for modern startups.</p>
        </div>
        <div class="feature-img__button">
          <a href="#" class="button">Check it out</a>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-img">
    <div class="feature-img__img">
      <img src="../images/App2-Background-4.jpg" class="img-author">
    </div>
    <div class="feature-img__content container">
      <div class="feature-img__views">
        <div class="feature-img__title">
          <h2>What Are You Waiting For? StartIt Today!</h2>
        </div>
        <div class="feature-img__body">
          <p>Driven user story pair programming big data Steve Jobs paradigm  innovate paradigm disrupt quantitative vs. qualitative physical</p>
        </div>
        <div class="feature-img__button">
          <a href="#" class="button">Learn more</a>
          <a href="#" class="button button--border">Learn more</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
